body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ec/World_map_blank_without_borders.svg');
  background-size: cover;
  font-family: Verdana;
}

.box {
  width: 500px;
  margin: 10% auto;
  text-align: center;
  background-color: rgba(3,146,207, 0.5);
  padding: 40px 30px;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  margin: 10px;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 50%;
}

select {
  padding: 3px;
  font-size: 1em;
  border: 0;
}